/* Базовый "дешевый" шрифт, как в старых Windows */
body {
    font-family: "Times New Roman", serif;
    margin: 10px; 
    background-color: #fff;
    text-align: center; /
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
}


.generator-controls {
    display: inline-flex; 
}


#name-output {
    font-size: 18px;
    font-family: "Times New Roman", serif;
    padding: 5px;
    width: 300px; 
    

    border: 2px solid black;
    border-radius: 0;
    background-color: #fff;
    color: #000;
}


#generate-button {
    font-size: 18px;
    font-family: "Times New Roman", serif;
    padding: 5px 15px;
    margin-left: 5px; 
    

    border: 2px solid black;
    border-radius: 0;
    background-color: #f0f0f0; 
    cursor: pointer;
}


#generate-button:hover {
    background-color: #e0e0e0;
}